[user]
	name  = Javier Juarez
	email = javier.juarez@fon.com

[color]
  diff        = auto
  status      = auto
  branch      = auto
  interactive = auto
  ui          = true
  pager       = true

[alias]
  co         = checkout
  st         = status -sb
  branches   = branch -a
  remotes    = remote -v
  last       = log -1 HEAD
  unstage    = reset HEAD --
  tree       = log --oneline --decorate --graph
  lg         = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=iso8601-strict


[github]
  user = jjuarez

[push]
  default = matching

[core]
  excludesfile = ~/.gitignore_global

[help]
  autocorrect = 0

[colour]
  ui = 1

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[credential]
  helper = cache

[format]
  pretty = oneline
