[user]
	name  = jjuarez
	email = javier.juarez@tuenti.com
[color]
  status = auto
  branch = auto
[alias]
  co         = checkout
  ci         = commit
  br         = branch
  st         = status -sb
  p          = push 
  t          = tag -l
  branches   = branch -a
  remotes    = remote -v
  last       = log -1 HEAD
  unstage    = reset HEAD --
  lg         = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[github]
  user = jjuarez
[push]
  default = matching
[core]
	excludesfile = ~/.gitignore_global
[help]
	autocorrect = 0
[colour]
  ui = 1
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[diff]
  tool = Kaleidoscope
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool]
  prompt = false
	keepBackup = true
[merge]
  tool = Kaleidoscope

