[user]
  name       = Javier Juarez
  email      = javier.juarez@gmail.com
  signingkey = 2ED23857

[color]
  diff        = auto
  status      = auto
  branch      = auto
  interactive = auto
  ui          = true
  pager       = true

[alias]
  co         = checkout
  ci         = commit
  br         = branch
  st         = status -sb
  p          = push 
  t          = tag -l
  branches   = branch -a
  remotes    = remote -v
  last       = log -1 HEAD
  unstage    = reset HEAD --
  lg         = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  d          = difftool
  tree       = log --oneline --decorate --graph

[github]
  user = jjuarez

[push]
  default = matching

[core]
  excludesfile = ~/.gitignore_global

[help]
  autocorrect = 0

[colour]
  ui = 1

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[credential]
  helper = cache

[format]
  pretty = oneline

[filter "lfs"]
  required = true
	process  = git-lfs filter-process
	clean    = git-lfs clean -- %f
	smudge   = git-lfs smudge -- %f

