[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
MarkupSafe = "==2.1.1"
ansible = "==6.5.0"
ansible-lint = "==6.8.2"

[dev-packages]

[requires]
python_version = "3.10.7"
