---
- name: RC files
  ansible.builtin.import_tasks: rcfiles.yml
  tags:
    - dotfiles

- name: Tools support
  ansible.builtin.import_tasks: tools.yml
  tags:
    - dotfiles

- name: Templates support
  ansible.builtin.import_tasks: templates.yml
  tags:
    - dotfiles

- name: Scripts support
  ansible.builtin.import_tasks: scripts.yml
  tags:
    - dotfiles

- name: SSH support
  ansible.builtin.import_tasks: ssh.yml
  tags:
    - dotfiles

- name: Languages support
  ansible.builtin.import_tasks: languages.yml
  tags:
    - dotfiles

- name: Homebrew support
  ansible.builtin.import_tasks: homebrew.yml
  tags:
    - dotfiles

- name: ZSH support
  ansible.builtin.import_tasks: zsh.yml
  tags:
    - dotfiles

- name: Neovim support
  ansible.builtin.import_tasks: neovim.yml
  tags:
    - dotfiles
