---
#
# neovim
#
- name: Neovim configuration directory
  ansible.builtin.file:
    path: "{{ dotfiles_home_directory }}/.config"
    mode: "0750"
    state: directory
  tags:
    - neovim

- name: Neovim configuration directory stat
  ansible.builtin.stat:
    path: "{{ dotfiles_home_directory }}/.config"
  register: dotfiles_neovim_configuration_directory
  tags:
    - neovim

- name: Neovim configuration file
  ansible.builtin.file:
    src: "{{ role_path }}/files/nvim"
    dest: "{{ dotfiles_home_directory }}/.config/nvim"
    state: link
    force: true
  when:
    - dotfiles_neovim_configuration_directory.stat.exists
  tags:
    - neovim
