---
#
# zim framework
#
- name: .zimrc stat
  ansible.builtin.stat:
    path: "{{ dotfiles_home_directory }}/.zimrc"
  register: dotfiles_zimrc
  tags:
    - zsh
    - zshcleanup

- name: .zim stat
  ansible.builtin.stat:
    path: "{{ dotfiles_home_directory }}/.zim"
  register: dotfiles_zim
  tags:
    - zsh
    - zshcleanup

- name: ZIMfw installation
  ansible.builtin.shell:
    cmd: "set -o pipefail && curl -fsSL {{ dotfiles_zimfw.url }} | zsh"
  register: dotfiles_zimfw_installation
  changed_when: dotfiles_zimfw_installation.rc != 0
  when: not dotfiles_zim.stat.exists
  tags:
    - zsh

- name: .zimrc cleanup
  ansible.builtin.file:
    path: "{{ dotfiles_home_directory }}/.zimrc"
    state: absent
  when: dotfiles_zimrc.stat.exists
  tags:
    - zshcleanup
    - never

- name: .zim cleanup
  ansible.builtin.file:
    path: "{{ dotfiles_home_directory }}/.zim"
    state: absent
  when: dotfiles_zimrc.stat.exists
  tags:
    - zshcleanup
    - never

- name: ZIMfw configuration
  ansible.builtin.file:
    src: "{{ role_path }}/files/zimfw/{{ item }}"
    dest: "{{ dotfiles_home_directory }}/{{ item }}"
    state: link
    force: true
  loop:
    "{{ dotfiles_zimfw.files | flatten(levels=1) }}"
  tags:
    - zsh

- name: ZIMfw configuration cleanup
  ansible.builtin.file:
    path: "{{ dotfiles_home_directory }}/{{ item }}"
    state: absent
  loop:
    "{{ dotfiles_zimfw.files | flatten(levels=1) }}"
  tags:
    - zshcleanup
    - never

#
# zsh configuration
#
- name: ZSH configuration
  ansible.builtin.file:
    src: "{{ role_path }}/files/shell/zsh/{{ item }}"
    dest: "{{ dotfiles_home_directory }}/{{ item }}"
    state: link
    force: true
  loop:
    "{{ dotfiles_zsh.files | flatten(levels=1) }}"
  tags:
    - zsh

- name: ZSH configuration cleanup
  ansible.builtin.file:
    path: "{{ dotfiles_home_directory }}/{{ item }}"
    state: absent
  loop:
    "{{ dotfiles_zsh.files | flatten(levels=1) }}"
  tags:
    - zshcleanup
    - never

- name: ZSH custom functions
  ansible.builtin.file:
    src: "{{ role_path }}/files/shell/zsh.d"
    dest: "{{ dotfiles_home_directory }}/.zsh.d"
    state: link
    force: true
  tags:
    - zsh

- name: ZSH custom functions cleanup
  ansible.builtin.file:
    path: "{{ dotfiles_home_directory }}/.zsh.d"
    state: absent
  tags:
    - zshcleanup
    - never
