[alias]
  ci         = commit
  co         = checkout
  st         = status -sb
  branches   = branch -a
  merged     = branch --remotes --merged
  remotes    = remote -v
  last       = log -1 HEAD
  unstage    = reset HEAD --
  tree       = log --oneline --decorate --graph
  ts         = tag --sort=-committerdate
  lg         = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --date=iso8601-strict

[branch]
# sort = -committerdate

[color]
  diff        = auto
  status      = auto
  branch      = auto
  interactive = auto
  ui          = true
  pager       = true

[core]
  excludesfile = ~/.gitignore_global
	fileMode = false
	eol = lf
	autocrlf = input

[credential]
  helper = cache

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
  required = true

[format]
  pretty = oneline

[user]
	name = JJ
	email = javier.juarez.martinez@ibm.com

[github]
  user = jjuarez

[help]
  autocorrect = 0

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
  default = matching
[commit]
	gpgsign = false
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
