# Start configuration added by Zim install {{{

# Sets sane Zsh built-in environment options.
zmodule input
zmodule environment
# Quick directory change
zmodule agkozak/zsh-z
# Additional completion definitions for Zsh.
zmodule completion
zmodule zsh-users/zsh-completions
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-syntax-highlighting
# Themes
zmodule minimal
zmodule romkatv/powerlevel10k
# }}} End configuration added by Zim install
