# Start configuration added by Zim install {{{

# Sets sane Zsh built-in environment options.
zmodule environment
zmodule input
zmodule utility
zmodule history
zmodule ssh

# Themes
zmodule romkatv/powerlevel10k

# Additional completion definitions for Zsh.
zmodule completion
zmodule zsh-users/zsh-completions
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-syntax-highlighting

# }}} End configuration added by Zim install
