BASH_CONFIG_BASE=${MYDOTFILES}/bash

##
# Completions
for c in ${BASH_CONFIG_BASE}/completion.d/*.completion; do
  source ${c}
done 2>/dev/null

##
# User specific profiles
for p in ${BASH_CONFIG_BASE}/profile.d/*.profile; do 
  source ${p}
done 2>/dev/null

## 
# Command warppers
for c in ${BASH_CONFIG_BASE}/command.d/*.command; do
  source ${c}
done 2>/dev/null

##
# General environment
PS1='\u@\[\033[01;32m\]\h\[\033[00m\]:\[\033[01;34m\]\W\[\033[00m\]\[\033[01;33m\]$(/usr/bin/vcprompt)\[\033[00m\]$ '

##
# Set of alias
source ${BASH_CONFIG_BASE}/aliases

##
# bash history
export HISTTIMEFORMAT="$(hostname -s) %h/%d %H:%M:%S "
export HISTSIZE=2048

##
# Show a host banner
#[ -n "`which figlet`" ] && {
#
#  echo -e "\033[0;34m"
#  figlet `hostname -s`
#  echo -en "\033[0m"
#  echo
#}

##
# Other subsystems....
[ -s ${HOME}/.rvm/scripts/rvm ] && source ${HOME}/.rvm/scripts/rvm
